@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: 'Nunito Sans';
  margin: 0;
  background-color: #fafafa;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1088px;
  margin: 0 auto;
  height: 100%;
}

nav {
  height: 5rem;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #222;
  text-decoration: none;
}

.question {
  display: inline-block;
  font-size: 30px;
  transform: rotate(30deg) translate(1px, 2px);
}

.btn.btn-toggle {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #222;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: .5s ease;
  z-index: 2;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.btn.btn-toggle::after {
  transition: .5s ease;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C2961E;
  z-index: -10;
}

.btn.btn-toggle::before {
  transition: .5s ease;
  transition-delay: .1s;
  content: '';
  position: absolute;
  top: 200%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #222;
  z-index: -2;
}

.btn.btn-toggle:hover {
  color: #222;
}

.btn.btn-toggle:hover::after, .btn.btn-toggle:hover::before {
  top: 0;
}

.form-container {
  max-width: 1088px;
  margin: 0 auto;
}

form {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin: 20px 0;
}

form .search {
  position: relative;
  width: 250px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: .25rem;
}

form .search input {
  border: 0;
  font-family: inherit;
  outline: none;
  padding: .75rem 1rem .75rem 2.5rem;
  font-size: 18px;
  line-height: 1.25;
  border-radius: .25rem;
  width: 100%;
}

form .search input::placeholder {
  font-size: 16px;
  opacity: .5;
}

form .search label {
  position: absolute;
  z-index: 1;
  top: .8rem;
  left: .8rem;
}

form .search i {
  color: #858585;
  cursor: text;
}

form .filter {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  width: 16rem;
  background-color: #fff;
  padding-right: 10px;
}

form .filter select {
  background-color: #fff;
  width: 100%;
  border: 0;
  font-family: inherit;
  outline: none;
  padding: .65rem 2rem .65rem 1rem;
  font-size: 18px;
  line-height: 1.25;
  border-radius: .25rem;
}

.container {
  width: 100%;
  max-width: 1088px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.country {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: .25rem;
  background-color: #fff;
  cursor: pointer;
  transition: .1s ease;
  width: 250px;
  height: 350px;
}

.country:hover {
  transform: scale(1.02);
}

.country .flag {
  width: 100%;
  height: 180px;
}

.country .flag img {
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
  width: 100%;
  height: 180px;
}

.country .info {
  padding: 1.5rem;
}

.country .info h1 {
  font-size: 1.125rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

.country .info p {
  padding-bottom: .25rem;
  font-size: .875rem;
  font-weight: 600;
  display: inline-block;
  width: 100%;
}

.country .info span {
  font-size: .875rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
