@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

body {
  font-size: 16px;
}

.container {
  width: 1100px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.header {
  h1 {
    font-size: 40px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      color: #0056b3;
    }
  }
}

.hero {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  &-text {
    width: 30vw;
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 10px;
    }

    p {
      color: #bfbfbf;
      font-weight: 400;
      line-height: 1.5;
      width: 95%;
    }
  }

  &-img {
    width: 30vw;
    margin-top: -80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.short-input {
  margin-top: 50px;
  width: 100%;
  height: 120px;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);
  padding: 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  .data {
    display: flex;
    justify-content: center;
    align-items: center;

    .url-input {
      width: 70%;
      padding: 6px 20px;
      // border-top-left-radius: 50px;
      // border-bottom-left-radius: 50px;
      border-radius: 2px;
      outline: none;
      border: 2px solid #338dca;

      font-size: 18px;

      &.wrong {
        border-color: rgb(192, 17, 17);
        color: rgb(199, 32, 32);
      }
    }
    .btn {
      border: 0;
      font-size: 16px;
      padding: 10px 15px;
      background: #3697d9;
      color: #fff;
      outline: none;
      cursor: pointer;
      border-radius: 2px;
      margin-left: 10px;
      border-color: #338dca;
      i {
        padding: 0 0 0 8px;
        height: 100%;
      }
      &:hover {
        background: linear-gradient(to left, #266a97 0% 28%, #338dca 28% 100%);
      }
    }
  }
}

.output {
  margin-top: 20px;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.2);
  box-sizing: 10px;
  .url-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    border-bottom: 2px solid #eee;
    .out {
      display: flex;
      align-items: center;
      input {
        color: #3697d9;
        font-size: 18px;
        background-color: transparent;
        border: 0;
        outline: none;
        text-align: end;
      }
      i {
        font-size: 28px;
        margin-left: 20px;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          color: #0056b3;
        }
      }
    }
  }
}

#alert {
  display: block;
  color: red;
  margin-top: 5px;
  margin-left: 80px;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

// Loader

$w-size: 200px;
$w-margin: -$w-size/2;
$b-size: 70%; //This is % based on $w-size. Use any value you want (that makes sense) and any unit that you would like (test it)
$box-wrapper-width: $b-size;
$box-wrapper-height: $b-size;
$box-wrapper-margin: calc((100% - #{$box-wrapper-height}) / 2)
  calc((100% - #{$box-wrapper-width}) / 2);

.wrapper {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: $w-margin;
  width: $w-size;
  height: $w-size;
  background-color: transparent;
  border: none;
  -webkit-user-select: none;
  &.active {
    display: block;
  }
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(10px);
  }

  .box-wrap {
    width: $box-wrapper-width;
    height: $box-wrapper-height;
    margin: $box-wrapper-margin;
    position: relative;
    transform: rotate(-45deg);

    .box {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(135, 0, 0, 0.6);
      background: linear-gradient(
        to right,
        #141562,
        #486fbc,
        #eab5a1,
        #8dd6ff,
        #4973c9,
        #d07ca7,
        #f4915e,
        #f5919e,
        #b46f89,
        #141562,
        #486fbc
      );
      background-position: 0% 50%;
      background-size: 1000% 1000%;
      visibility: hidden;

      &.one {
        animation: moveGradient 15s infinite, oneMove 3.5s infinite;
      }

      &.two {
        animation: moveGradient 15s infinite, twoMove 3.5s 0.15s infinite;
      }

      &.three {
        animation: moveGradient 15s infinite, threeMove 3.5s 0.3s infinite;
      }

      &.four {
        animation: moveGradient 15s infinite, fourMove 3.5s 0.575s infinite;
      }

      &.five {
        animation: moveGradient 15s infinite, fiveMove 3.5s 0.725s infinite;
      }

      &.six {
        animation: moveGradient 15s infinite, sixMove 3.5s 0.875s infinite;
      }
    }
  }
}

@keyframes moveGradient {
  to {
    background-position: 100% 50%;
  }
}

@keyframes oneMove {
  0% {
    visibility: visible;
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes twoMove {
  0% {
    visibility: visible;
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes threeMove {
  0% {
    visibility: visible;
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(0% 70% 70% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  71.4285% {
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(35% 70% 35% 0 round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes fourMove {
  0% {
    visibility: visible;
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  71.4285% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes fiveMove {
  0% {
    visibility: visible;
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes sixMove {
  0% {
    visibility: visible;
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  14.2857% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  28.5714% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  42.8571% {
    clip-path: inset(70% 0 0 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  57.1428% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  71.4285% {
    clip-path: inset(35% 0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  85.7142% {
    clip-path: inset(35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  100% {
    clip-path: inset(70% 35% 0% 35% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}
