@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

$Slider-Bar : #a5f3eb;
$Slide-Backround : #10d5c2;
$Discount-Background : #feece7;
$Discount-Text: #ff8c66;
$CTA-Text:#bdccff;
$text: #858fad;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope";
}
body {
  background: url(../images/bg-pattern.svg) no-repeat;
  background-size: cover;
  background-position: top -100px left 0px;
  background-color: #f9faff;
}
