@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

$Slider-Bar: #a5f3eb;
$Slide-Backround: #10d5c2;
$Discount-Background: #feece7;
$Discount-Text: #ff8c66;
$CTA-Text: #bdccff;
$text: #858fad;
$Dark-text: #293356;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope";
}
body {
  background: url(../images/bg-pattern.svg) no-repeat;
  background-size: cover;
  background-position: top -100px left 0px;
  background-color: #f9faff;
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 80px;
}

.header {
  text-align: center;
  background: url(../images/pattern-circles.svg) no-repeat center center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: $Dark-text;
  }
  p {
    color: $text;
  }
}

.card {
  margin-top: 80px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      text-transform: uppercase;
      color: $text;
      font-size: 16px;
      letter-spacing: 1.5px;
    }
    h1 {
      display: flex;
      color: $Dark-text;
      font-size: 40px;
      font-weight: bold;
      span {
        color: $text;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 8px;
      }
    }
  }
  .slide-bar {
    width: 100%;
    margin-top: 30px;
    .slider {
      width: 100%;
      -webkit-appearance: none;
      background-color: #ebf2fc;
      border-radius: 50px;
      height: 8px;
      outline: none;
      cursor: pointer;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: url(../images/icon-slider.svg) no-repeat center center;
        background-color: #10d5c2;
        cursor: pointer;
        box-shadow: 0 3px 10px rgba($color: #10d5c2, $alpha: 0.8);
        transition: 0.5s;
        &:hover {
          background-color: #17b4a4;
        }
        &:active {
          cursor: grabbing;
        }
      }
    }
  }
}
