@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope";
}

body {
  background: url(../images/bg-pattern.svg) no-repeat;
  background-size: cover;
  background-position: top -100px left 0px;
  background-color: #f9faff;
}

.container {
  width: 600px;
  margin: 0 auto;
  margin-top: 80px;
}

.header {
  text-align: center;
  background: url(../images/pattern-circles.svg) no-repeat center center;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header h1 {
  color: #293356;
}

.header p {
  color: #858fad;
}

.card {
  margin-top: 80px;
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .info h2 {
  text-transform: uppercase;
  color: #858fad;
  font-size: 16px;
  letter-spacing: 1.5px;
}

.card .info h1 {
  display: flex;
  color: #293356;
  font-size: 40px;
  font-weight: bold;
}

.card .info h1 span {
  color: #858fad;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 8px;
}
