@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$secondary-color: #fbfbfb;
$true-color: #2ecc71;
$false-color: #e74c3c;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

body {
  font-size: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;

  .header {
    text-align: center;
    width: 100%;
    padding: 50px;

    h1 {
      color: #444;
      font-size: 28px;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      line-height: 33px;
      margin-bottom: 20px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        bottom: 0;
        left: 50%;
        height: 1px;
        width: 70px;
        content: " ";
        margin-left: -35px;
        margin-top: 10px;
        position: absolute;
        background: #3498db;
      }
    }

    p {
      font-size: 16px;
      font-weight: 200;
      color: #999;
      line-height: 1.7;
    }
  }

  .input-field {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .input {
      width: 40%;
      font-size: 28px;
      padding: 10px 15px;
      outline: none;
      border: 1px solid rgb(206, 206, 206);
      border-radius: 5px;
      transition: 0.2s;
      font-family: "Open Sans", sans-serif;
      &:focus {
        border-color: rgb(182, 181, 181);
      }
      &::placeholder {
        opacity: 0.4;
      }
    }
    .btn {
      display: block;
      height: 60px;
      margin-left: -4px;
      background-color: #3498db;
      border: 0;
      font-size: 18px;
      padding: 10px 20px;
      color: #fff;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      outline: none;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        background-color: #2d8ac8;
      }
    }
  }

  .output {
    margin-top: 50px;
    .output-info {
      background-color: $secondary-color;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 24px;
        color: #585f69;
        font-weight: 400;

        span {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 28px;
          color: $true-color;
        }
      }
      i {
        font-size: 50px;
        margin-right: 10px;
        color: $true-color;
      }
    }

    .output-data {
      width: 60%;
      margin: 0 auto;
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: start;

      .output-data-item {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        align-items: center;
        i {
          margin-right: 10px;
          font-size: 22px;
          color: $true-color;
          margin-left: 50px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
