@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

body {
  background-color: #F5F6F8;
}

.container {
  max-width: 1200px;
  background-color: #F5F6F8;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  position: relative;
  padding: 0 30px;
}

.navbar {
  background: url("../assets/desktop/bg-pattern-header.svg") no-repeat;
  background-size: cover;
  background-position: bottom left;
  width: 100%;
  height: 180px;
  margin-left: 1px;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.navbar .header {
  color: #fff;
  padding: 60px;
}

toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100px;
}

.toggle-container .toggle {
  visibility: hidden;
}

.toggle-container .label {
  width: 60px;
  height: 30px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 15px 0;
  margin-right: 150px;
  margin-top: -30px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.toggle-container .label::before {
  position: absolute;
  transform: translate(-40px, 1px);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f185";
  color: #FDB813;
  font-size: 25px;
  opacity: 1;
}

.toggle-container .label::after {
  position: absolute;
  transform: translate(76px, 2px);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f186";
  color: #fff;
  font-size: 23px;
  opacity: .5;
}

.toggle-container .label .ball {
  background-color: #5964E0;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 3px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: slideOff .2s linear forwards;
}

.toggle:checked + .label {
  background-color: #fff;
}

.toggle:checked + .label::after {
  opacity: 1;
}

.toggle:checked + .label::before {
  opacity: .5;
}

.toggle:checked + .label .ball {
  animation: slideOn .2s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  100% {
    transform: translateX(28px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(28px) scale(1);
  }
  50% {
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

.input-area {
  position: absolute;
  width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  left: 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  height: 80px;
  padding: .5rem 1.5rem .5rem .8rem;
  border-bottom: 2px solid #eee;
  margin-top: -40px;
  grid-gap: 5px;
  border-collapse: separate;
  border-radius: 15px;
  overflow: hidden;
  perspective: 1px;
}

.input-area .search, .input-area .filter, .input-area .full-time {
  position: relative;
}

.input-area label {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
  color: #5964E0;
  opacity: .8;
}

.input-area #filter-job, .input-area #search-job {
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 30px;
  outline: none;
  border: 0;
  border-right: 2px solid #eee;
  font-size: 20px;
}

.input-area #filter-job::placeholder, .input-area #search-job::placeholder {
  font-size: 16px;
  color: #aaa7a7;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
  }
  input[type='checkbox']:after,
  input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type='checkbox']:checked,
  input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type='checkbox']:disabled,
  input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
  }
  input[type='checkbox']:disabled:checked,
  input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type='checkbox']:disabled + label,
  input[type='radio']:disabled + label {
    cursor: not-allowed;
  }
  input[type='checkbox']:hover:not(:checked):not(:disabled),
  input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type='checkbox']:focus,
  input[type='radio']:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type='checkbox']:not(.switch),
  input[type='radio']:not(.switch) {
    width: 21px;
  }
  input[type='checkbox']:not(.switch):after,
  input[type='radio']:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type='checkbox']:not(.switch):checked,
  input[type='radio']:not(.switch):checked {
    --o: 1;
  }
  input[type='checkbox'] + label,
  input[type='radio'] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type='checkbox']:not(.switch) {
    border-radius: 5px;
  }
  input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 6px;
    top: 2px;
    transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
  }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type='checkbox'].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type='checkbox'].switch:disabled:not(:checked):after {
    opacity: .6;
  }
  input[type='radio'] {
    border-radius: 50%;
  }
  input[type='radio']:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type='radio']:checked {
    --s: .5;
  }
}

.full-time #full {
  top: 22px;
  left: 5px;
}

.full-time label {
  font-size: 18px !important;
  display: block !important;
  top: 35px;
  left: 76px;
  color: #222;
}

#submit {
  background-color: #5964E0;
  border: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  width: 85%;
  height: 85%;
  margin: auto;
  cursor: pointer;
  outline: none;
  transition: .1s;
}

#submit:active {
  background-color: #5964e0c9;
}

.output {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.output .job {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.output .job .logo {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  top: -24px;
  left: 20px;
  background-color: #eee;
  display: inline-block;
}

.output .job .logo img {
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
}

.output .job .job-details {
  margin-top: 35px;
  color: #7d7e80;
  font-size: 14px;
  font-weight: 400;
}

.output .job .job-title {
  margin: 10px 0;
  font-size: 20px;
  font-family: inherit;
  font-weight: 600;
}

.output .job .job-company {
  margin-bottom: 15px;
  color: #7d7e80;
  font-size: 14px;
  font-weight: 400;
}

.output .job .job-locations {
  color: #6263B4;
  font-size: 14px;
  margin-bottom: 20px;
}
