@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}
body {
  transition: .2s;
  background-color: #F5F6F8;

}
a {
  text-decoration: none;

}
.container {
  background: url(../assets/desktop/bg-pattern-bottom.svg) bottom -600px right -150px no-repeat, url(../assets/desktop/bg-pattern-top.svg) top -500px left -200px no-repeat;
  background-attachment: fixed;
  max-width: 1200px;
  background-color: #F5F6F8;
  // box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .2);
  margin: 0 auto;
  border-radius:0 0 10px 10px;
  position: relative;
  padding: 0 30px;
  transition: .2s;
}
.big {
  font-size: 30px;
  display: inline-block;
  transform: translateY(-2px);
  margin: 0 4px;
}
.navbar {
  background: url('../assets/desktop/bg-pattern-header.svg')no-repeat;
  background-size: cover;
  background-position: bottom left;
  width: 100%;
  height: 180px;
  margin-left:1px;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  transition: .2s;
  .header {
    color: #fff;
    padding: 60px;
  }

}

toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100px;
  
}

.toggle-container .toggle {
  visibility: hidden;
}

.toggle-container .label {
  width: 60px;
  height: 30px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 15px 0;
  margin-right: 150px;
  margin-top: -30px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  &::before {
    position: absolute;
    transform: translate(-40px,7px);
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f185";
    color: #FDB813;
    font-size: 25px;
    opacity: 1;
  }
  &::after {
    position: absolute;
    transform: translate(76px,5px);
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f186";
    color: #fff;
    font-size: 23px;
    opacity: .5;
  }
}

.toggle-container .label .ball {
  background-color: #5964E0;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 3px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: slideOff .2s linear forwards;
}

.toggle:checked + .label {
  background-color: #fff;
  &::after {
    opacity: 1;
  }
  &::before {
    opacity: .5;
  }
}

.toggle:checked + .label .ball {
  animation: slideOn .2s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }

  100% {
    transform: translateX(28px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(28px) scale(1);
  }
  50% {

  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

.input-area {
  transition: .2s;
  position: absolute;
  width: 1000px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .2);
  left: 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  height: 80px;
  padding: .5rem 1.5rem .5rem .8rem;
  border-bottom: 2px solid #eee;
  margin-top: -40px;
  grid-gap: 5px;
  border-collapse: separate; 
  border-radius: 15px;
  overflow: hidden;
  perspective: 1px;
  .search,.filter,.full-time {
    position: relative;
  }
  label {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 10px;
    transform: translate(-50%,-50%);
    color:  #5964E0;
    opacity: .8;
  }
  #filter-job,#search-job {
    transition: .2s;
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 30px;
    outline: none;
    border: 0;
    border-right: 2px solid #eee;
    font-size: 20px;
    &::placeholder {
      font-size: 16px;
      color: rgb(170, 167, 167);
    }
  }

  
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 5px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 6px;
        top: 2px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}

.full-time {
  transition: .2s;
  #full {
    top: 22px;
    left: 5px;
  }
  label {
    font-size: 18px !important;
    display: block !important;
    top: 35px;
    left: 76px;
    color: #222;
  }
  
}

#submit {
  background-color: #5964E0;
  border: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  // width: 100px;
  border-radius: 5px;
  width: 85%;
  height: 85%;
  margin: auto;
  cursor: pointer;
  outline: none;
  transition: .1s;
  &:active {
    background-color: #5964e0c9;
  }
}

.output {
  transition: .2s;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;

  .job {
    
    cursor: pointer;
    transition: .1s;
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: .2);
    }
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 30px;
    position: relative;
    box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .1);
    .logo {
      position: absolute;
      width: 80px;
      height: 50px;
      border-radius: 8px;
      bottom: 36px;
      right: 40px;
      // background-color: #eee;
      display: inline-block;
      // transform: scale(.3);

      img {
        display: block;
        max-width:100px;
        max-height:70px;
        width: auto;
        height: auto;
      }
    }

    .job-details {
      // margin-top: 35px;
      color: #7d7e80;
      font-size: 14px;
      font-weight: 400;
    }

    .job-title {
      margin: 10px 0;
      font-size: 20px;
      font-family: inherit;
      font-weight: 600;
    }

    .job-company {
      margin-bottom: 15px;
      color: #7d7e80;
      max-width: 50%;
      font-size: 14px;
      font-weight: 400;

    }

    .job-locations {
      color: #6263B4;
      font-size: 14px;
      margin-bottom: 20px;
      max-width: 50%;
    }
  }
} 

.load {
  display: block;
  background-color: #5764DF;
  color: #fff;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin: 50px auto;  
  width: 120px;
  cursor: pointer;
  transition: .1s;
  &:active{
    background-color: #5765dfd5;
  }

}

.animated-bg {
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 10%, #f6f7f8 20%, #f6f7f8 100%);
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}

$primary-color: #131722;
$secondry-color: #18202D;
body.dark {
  background-color:$primary-color;
  .container {
    background-color:$primary-color;
  }

  .input-area {
    background-color: $secondry-color;
    border-color: $primary-color;
    #filter-job,#search-job {
      background-color: $secondry-color;
      border-color: $primary-color;

    }
  }
  .output {
    .job {
      background-color: $secondry-color;
      color: #fff;

    }
  }
  .full-time {
    label {
      color: #fff;
    }
  }
  @supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox']{
      --border: $primary-color;
      --background: rgba(39, 94, 254, .3);
}}

.animated-bg {
  background-image: linear-gradient(to right, #b1b2b3 0%, #9b9b9b 10%, #949595 20%, #9d9ea0 100%);
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}
}